@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* =========== base style ========= */
@font-face {
    font-family: 'Menlo Regular';
    src: local('Menlo Regular'), url('./../../Fonts/Menlo-Regular.woff') format('woff');
}


/* Universal Styles */

/* Reset Styles */


/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul li a {
    list-style-type: none;
    text-decoration: none;

}

/* Typography */
body {
    /* font-family: Arial, sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 12px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}

p {
    margin-bottom: 16px;
}


/* Add your additional styles below this line */

section,
footer {
    margin-top: 70px;
    padding-bottom: 70px;
}

p {
    color: #000806;
    font-size: 1.2rem;
    line-height: 30px;
    /* font-family: "Roboto", serif; */
    font-weight: 500;
}

button.btn {
    background: #593E95;
    color: #fff;
    padding: 7px 25px;
    border-radius: 50px;
}

button.btn:hover {
    background-color: #fff;
}

i {
    color: #593E95;

}

/* header css Home page */
.navigation {
    height: 80px;
    /* adjust the height as needed */
}

.logo {
    height: 40px;
    background: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* .header.scroll {
    background-color: #dfe7e6;
} */

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 1.3rem;
}

.nav__item a {
    font-weight: 500;
    font-size: 1.1rem;
    color: #0a2b1e;
    text-decoration: none;
    transition: 0.3s;
}

.nav__item a:hover {
    color: #513a87;
}

.nav__right p {
    font-weight: 500;
    color: #0a2b1e;
    font-size: 1.1rem;
}

.nav__right p i {
    font-size: 1.3rem;
}

.mobile__menu span i {
    font-size: 1.4rem;
    color: #0a2b1e;
    cursor: pointer;
}

.mobile__menu {
    display: none;
}

@media only screen and (max-width: 991px) {
    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0a2b1ec2;
        z-index: 99;
        display: none;
    }

    .nav__list {
        position: absolute;
        background: #fff;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        padding-top: 80px;
    }

    .mobile__menu {
        display: block;
    }

    .nav__right {
        display: none;
    }

    .active__menu {
        display: block;
    }
}

/* Feature Section css */

/* Feature.css */

.features-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.features-list li {
    margin-bottom: 0px;
}



.features-list h5,
.features-list p {
    margin: 0;
    margin: 5px;
    padding: 0 auto;
    color: black;
    /* color: white; */
    /* padding: 10px; */
}

.feature-box1 {
    position: relative;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid wheat;
    margin-top: 20px;
    /* height: 300px; */
    /* Set the default height for feature boxes */
}

.feature-box1:hover {
    transform: translateY(-5px);
    background-color: rgb(120, 116, 217);
    color: #fff;
    /* Change background color on hover */
}

.feature-box3 {

    /* Set the height for the first feature box */
}

.feature-box3 {
    position: relative;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid wheat;
    margin-top: 10px;
    /* height: 300px; */
    /* Set the default height for feature boxes */
}

.feature-box3:hover {
    transform: translateY(-5px);
    background-color: rgb(160, 112, 224);
    color: white;
    /* Change background color on hover */
}

.feature-box2 {
    /* margin-top: 0px; */
    /* Set the height for the third feature box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Align the third feature box to the center */
}

.feature-box2 {
    position: relative;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid wheat;
    /* height: 300px; */
    /* Set the default height for feature boxes */
}

.feature-box2:hover {
    transform: translateY(-5px);
    background-color: rgb(228, 92, 68);
    font-weight: 400;
    color: white;
    /* Change background color on hover */
}


.feature-box4 {
    margin-top: -50px;
    /* Set the height for the fourth feature box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Align the fourth feature box to the center vertically and horizontally */
}

.feature-box4 {
    position: relative;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid wheat;
    /* height: 300px; */
    /* Set the default height for feature boxes */
}

.feature-box4:hover {
    transform: translateY(-5px);
    background-color: rgb(107, 206, 204);
    color: white;
    /* Change background color on hover */
}

.content {
    margin-top: 200px;
}

.sidebar {
    margin-top: 200px;
}

/* choose us */
.choose__img img {
    border-radius: 15px;
}

.choose__content {
    padding-right: 50px;
}

.choose__content h2 {
    font-weight: 600;
}

.choose__img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 777;
}

.play__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 7777;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play__icon i {
    font-size: 2rem;
    padding: 10px;
}

.chooseus {
    margin-bottom: 5%;
}

.choose__icon i {
    font-size: 2rem;
}

.video-wrapper {
    position: relative;
    width: 100%;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-wrapper .play__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
}
/* CSS for Testimonial Carousel */
.tb-testimonial {
    display: flex;
    align-items: center;
}

.tb-testimonial-left {
    flex: 1;
}

.tb-testimonial-right {
    flex: 1;
}

.tb-testimonial-img {
    height: 150px;
    /* Set the desired height for the image */
    background-size: cover;
    background-position: center center;
}

/* Footer css */
.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 75px 0 0;
    background: #ece8f6;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
}

.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #ece8f6;
    padding: 40px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #0f0202;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.ri-facebook-line {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.ri-twitter-line {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.ri-google-line {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fi-linkedin-line {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.ri-instagram-line {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #007bff;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #007bff;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742;
}

/* Credit to https://bootsnipp.com/snippets/ooa9M  */